<script setup>

import FreshLayout from "@/Layouts/FreshLayout.vue";

defineProps({
    tasks: Object,
});
</script>

<template>
    <FreshLayout title="Developer Task">
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <n-alert :title="tasks.data[0].developer" type="warning">
                    <span> Developer Value </span><n-rate readonly :default-value=tasks.data[0].developer_value /> <br>
                    Task Count : {{tasks.data.length}} <br>
                    Task Estimated Duration : {{Math.round(tasks.data.reduce((item, object) => {return item + object.expect_duration;}, 0))}}
                </n-alert>
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-6">
                        <n-space>
                            <n-popover :trigger="(task.task_value != task.developer_value) ? 'hover' : ''" size="huge" v-for="task in tasks.data" :key="task.id" placement="top">
                                <template #trigger>
                                    <n-card :title="task.task_name" size="large" :key="task.id" style="cursor: pointer;"
                                            :class="(task.task_value != task.developer_value) ? 'bg-purple-200' : ''"
                                    >
                                        <n-tag :bordered="false" type="info" size="small">
                                            Task Duration(hr) : {{task.task_duration}}
                                        </n-tag>
                                        <n-tag :bordered="false" type="info" size="small">
                                            Task value : {{task.task_value}}
                                        </n-tag>
                                        <n-tag v-if="task.task_value != task.developer_value" :bordered="false" type="error" size="small">
                                            Developer Expect Duration(hr) : {{task.expect_duration}}
                                        </n-tag>
                                    </n-card>
                                </template>
                                <span v-if="task.task_value != task.developer_value" class="alert-danger">This task assigned to developer with different value</span>
                            </n-popover>
                        </n-space>
                </div>
            </div>
        </div>
    </FreshLayout>
</template>

<style scoped>
.n-card {
    max-width: 270px;
    //background-color: #f1ece4;
}
</style>
