<script setup>
import {router} from "@inertiajs/vue3";
import FreshLayout from "@/Layouts/FreshLayout.vue";
defineProps({
    developers: Object
});
function developerDetail(id) {
    router.get(route('developer.tasks'),{'id':id});
}
</script>

<template>
    <FreshLayout title="Developer List">
        <div class="py-4">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <n-alert title="Info" type="warning">
                    Developer Count: {{ developers.data.length}}
                </n-alert>
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-6">
                    <n-list hoverable clickable>
                            <n-list-item v-for="developer in developers.data" :key="developer.id" @click="developerDetail(developer.id)">
                                <template #suffix>
                                    Developer Value
                                    <n-rate readonly :default-value=developer.value />
                                </template>
                                <n-thing :title=developer.name content-style="margin-top: 10px;">
                                    <template #description>
                                        <n-space size="small" style="margin-top: 4px">
                                            <n-tag :bordered="false" type="info" size="large" >
                                                <b>Task Count: {{ developer.tasks.length}}</b>
                                            </n-tag>
                                            <n-tag :bordered="false" type="success" size="large" >
                                                <b>Estimated Duration (hr): {{Math.round(developer.tasks.reduce((item, object) => {return item + object.expect_value;}, 0))}}</b>
                                            </n-tag>
                                        </n-space>
                                    </template>
                                </n-thing>
                            </n-list-item>
                        </n-list>
                </div>
            </div>
        </div>

    </FreshLayout>
</template>

<style scoped>
.light-green {
    height: 108px;
    background-color: rgba(0, 128, 0, 0.12);
}
.green {
    height: 108px;
    background-color: rgba(0, 128, 0, 0.24);
}
.n-card {
    max-width: 250px;
    background-color: #de9622;
}
</style>
