<script setup>
import { CashOutline as CashIcon } from "@vicons/ionicons5";
import FreshLayout from "@/Layouts/FreshLayout.vue";


defineProps({
    teams: Object,
    tasks: Object,
    league: String,
    components: {
        CashIcon
    }
});

</script>

<template>
    <FreshLayout title="Dashboard">
        <div class="py-4">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div v-if="tasks.length" class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-6">

                    <n-alert title="Info" type="warning">
                        All Task Count : {{ tasks.length}}
                    </n-alert>
                    <n-list hoverable clickable>
                            <n-list-item v-for="task in tasks" :key="task.id">
                                <template #suffix>
                                    Difficulty (Value)
                                    <n-rate readonly :default-value=task.value />
                                </template>
                                <n-thing :title=task.name content-style="margin-top: 10px;" >
                                    <template #description>
                                        <n-space size="small" style="margin-top: 4px">
                                            <n-tag :bordered="false" type="info" size="large" >
                                                <b>Task Duration(hr) : {{task.duration}}</b>
                                            </n-tag>
                                        </n-space>
                                    </template>
                                </n-thing>
                            </n-list-item>
                        </n-list>
                    <div class="px-5 py-5" >
                            <a :href="route('task.create')" class="flex flex-row-reverse">
                                <button type="submit" class=" mb-5 rounded-md bg-teal-700 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm ">
                                    Generate
                                </button>
                            </a>
                        </div>
                </div>
                <div v-else class="p-4">
                    <n-empty description="You can't find any task Please get task on command line" size="huge">
                        <template #extra>
                            <n-code code="artisan tasks:create"
                                language="php"
                            />
                        </template>
                    </n-empty>
                </div>
            </div>
        </div>

    </FreshLayout>
</template>

<style scoped>

.n-card {
    max-width: 250px;
    background-color: #de9622;
}
</style>
