<script setup>
import {router} from "@inertiajs/vue3";
import FreshLayout from "@/Layouts/FreshLayout.vue";
defineProps({
    tasks: Object,
    maxWeek: Number
});

function developerDetail(id) {
    router.get(route('developer.tasks'),{'id':id});
}
</script>

<template>
    <FreshLayout title="Dashboard">
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <n-alert title="Info" type="warning">
                    All Developer Task Summary <br>
                    Task Timeline : after {{maxWeek}} week(s) tasks will be done...
                </n-alert>
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-6">
                    <n-scrollbar  style="height: 450px;">
                        <n-list hoverable clickable>
                            <n-list-item v-for="task in tasks" :key="task.developer.id" @click="developerDetail(task.developer.id)">
                                <template #suffix>
                                    Developer Value
                                    <n-rate readonly :default-value=task.developer.value />
                                </template>
                                <n-thing :title=task.developer.name content-style="margin-top: 10px;" >
                                    <template #description>
                                        <n-space size="small" style="margin-top: 4px">
                                            <n-tag :bordered="false" type="info" size="large" >
                                                <b>Task Count: {{task.count}}</b>
                                            </n-tag>
                                            <n-tag :bordered="false" type="success" size="large" >
                                                <b>Estimated Time: {{task.sum}}</b>
                                            </n-tag>
                                        </n-space>
                                    </template>
                                </n-thing>
                            </n-list-item>
                        </n-list>
                    </n-scrollbar>
                </div>
            </div>
        </div>

    </FreshLayout>
</template>

<style scoped>
.light-green {
    height: 108px;
    background-color: rgba(0, 128, 0, 0.12);
}
.green {
    height: 108px;
    background-color: rgba(0, 128, 0, 0.24);
}
.n-card {
    max-width: 250px;
    background-color: #f1ece4;
}
</style>
